@font-face {
    font-family: 'eraserregular';
    src: url('chalk-webfont.woff2') format('woff2'),
         url('chalk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#navbar {
  background-image: url(img/chalkboard.jpg);
  color: white;
}

#brand {
  color: #337ab7;
}

.jumbotron {
  background-image: url(img/chalkboard.jpg);
  font-family: 'eraserregular';
  color: white;
  text-align: center;
}

.well {
  background-image: url(img/chalkboard.jpg);
}

body {
  color: white;
  font-family: futura;
  background: url(img/questions.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h4 {
  font-family: 'eraserregular';
}

input {
  color: #337ab7;
}

textarea {
  color: #337ab7;
}
