<div class= "container">
  <header class= "jumbotron">
  <nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="brand">Questions and Answers!</a>
      </div>
      <div class="navButtons">
        <ul class="nav navbar-nav">
          <li class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
          <li class="active">{{#link-to 'favorites'}}Favorites{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>You Want Answers!</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <h4>©2016 The Answer Lab, Inc. All rights reserved</h4>
  </footer>
</div>
