<div class= "container">
  <header class= "jumbotron">
    <h1>You Want Answers!</h1>
    {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    <h3>insert footer here</h3>
  </footer>
</div>
