<div class= "container">
  <header class= "jumbotron">
    <h1>You Want Answers!</h1>
    {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    <h4>©2016 The Answer Lab, Inc. All rights reserved</h4>
  </footer>
</div>
