<h1>Welcome to Q and A</h1>

<div class="container">
  <ul>
    {{#each model as |question|}}
       {{question-tile question=question destroyQuestion="destroyQuestion"}}
    {{/each}}
  </ul>
</div>

{{new-question question=question saveQuestion="saveQuestion"}}


{{#link-to 'index'}}Home{{/link-to}}
