<h1>Welcome to Q & A</h1>

<div class="container">
  <ul>
    {{#each model as |question|}}
       {{question-tile question=question destroyQuestion="destroyQuestion"}}
    {{/each}}
  </ul>
</div>


{{#link-to 'index'}}Home{{/link-to}}
