<h2>Questions, find answers to posts below, or ask a new one:</h2>

<div class="container">
      {{#each model.questions as |question|}}
         {{question-tile question=question}}
      {{/each}}
</div>

{{new-question saveQuestion="saveQuestion" question=model}}
