<h1>Welcome to Q and A</h1>

<h2>Questions</h2>

<div class="container">
  <ul>
    {{#each model as |question|}}
       {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
    {{/each}}
  </ul>
</div>

{{new-question saveQuestion="saveQuestion"}}


{{#link-to 'index'}}Home{{/link-to}}
